<div id="sidebar-placeholder"></div>
<div class="sidebar">
    <h2>VY Expense</h2>
    <a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">
        <i class="bi bi-house-fill"></i>&nbsp;&nbsp;Home
    </a>
    <a href="/trip.html" class="<%= currentPath === '/trip.html' ? 'active' : '' %>">
        <i class="bi bi-airplane-fill"></i>&nbsp;&nbsp;Trip
    </a>
    <a href="/exp.html" class="<%= currentPath === '/exp.html' ? 'active' : '' %>">
        <i class="bi bi-cash-stack"></i>&nbsp;&nbsp;Expenses
    </a>
    <a href="/reports.html" class="<%= currentPath === '/reports.html' ? 'active' : '' %>">
        <i class="bi bi-card-checklist"></i>&nbsp;&nbsp;Reports
    </a>
    <a href="/advances.html" class="<%= currentPath === '/advances.html' ? 'active' : '' %>">
        <i class="bi bi-credit-card"></i>&nbsp;&nbsp;Advances
    </a>
    <a href="/approval.html" class="<%= currentPath === '/approval.html' ? 'active' : '' %>">
        <i class="bi bi-check2-circle"></i>&nbsp;&nbsp;Approvals
    </a>
    <a href="/analytics.html" class="<%= currentPath === '/analytics.html' ? 'active' : '' %>">
        <i class="bi bi-bar-chart-fill"></i>&nbsp;&nbsp;Analytics
    </a>
    <a href="/settings" class="<%= currentPath === '/settings' ? 'active' : '' %>">
        <i class="bi bi-gear-fill"></i>&nbsp;&nbsp;Settings
    </a>

    <a href="/logout" class="logout-btn">
        <i class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;Logout
    </a>
</div>
